.explore__container{
    max-width: 1120px;
    margin: auto;
}

.explore__row{
    display: flex;
    margin: 0 -51px;
}

.explore__column{
    padding: 0 51px;
}

.explore__column:first-child{
    margin: 0 0 0 -100px;
}

.explore__column:last-child{
    max-width: 450px;
}

.explore__title{
    margin-top: 90px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    /* or 139% */
    color: #000000;
}

.explore__discription{
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    /* or 176% */
    color: #7D7987;
    margin-bottom: 39px;
}

.explore__btn{
    font-family: sans-serif;
    font-weight: 700;
    background: #ff9900;
    border: none;
    padding: 10px 30px 10px 30px;
    color: white;
    border: 1px solid #fb8f1d;
    box-sizing: border-box;
    border-radius: 8px;
    text-decoration: none;
}