.stories{
    margin-bottom: 185px;
    margin-top: 185px;
}

.stories__image{
    width: 100%;
    height: 230px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.stories__row{
    margin: -13px;
}

.stories__item{
    margin: 13px;
}

.stories h3{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 56px;
    color: #000000;
}

.stories__title{
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
}

.stories__description{
    margin: 12 0 22px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #7D7987;
}

.stories__link{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    text-decoration: none;
    color: #FB8F1D;
}